numpy==1.22.3
opencv-python==4.5.5.64
torch==1.11.0
torchvision==0.12.0
graphviz==0.20

tqdm==4.64.0
cython==0.29.28
pycocotools==2.0.4

# pytorch2trt:
onnx==1.11.0
onnxruntime==1.11.1

pycuda==2020.1
tensorrt==7.2.2.1

# download weights
gdown==4.4.0
